.animated-icon{
  width: 15px;
  height: 15px;
  background-color: rgba(140, 55, 55, 0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 4px red;
  transition: all 1s;
  position: relative;
}

.animated-icon::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 46px;
  height: 46px;
  background: rgba(140,55,55,0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse-red 1.5s infinite;
}

@keyframes pulse-red {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.7);
    opacity: 0.0;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
}